body {
    background-color: dodgerblue;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo {
    border: 1px solid #505050;
    border-radius: 50%;
    width: 20%;
    margin-left: 350px;
    
}

#title, .subtitle, .post_title {
    color :#001351 ;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: underline;
    color:#001351;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 15px;
}

.post {
    background: dodgerblue;
    padding: 10px 10px 10px 10px;
    border: 3px dashed #001351 ;
    margin: 10px;
}

.post_content {
    margin: 0px;
    margin-bottom: 10px;
    text-transform:initial;
    text-align:justify;
}

.post_image {
    margin-bottom: 5px;
    width:100%;
}

.contacts_list {
    list-style-type:square;
    padding-left: 15px; 
}

.contacts_list li a{
    text-decoration: none;
}